*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* --layout-spacing: 1em; */
  --layout-spacing: max(5vh, 1.5rem);
  --mb-5: 0.5em;
  --mb-7: 0.75em;
  --mb-15: 1.5em;
  --max-width: 80ch;
  --container-max: 1023px;
  --box-shadow-1: 2px 4px 8px -2px #0006;
  --accent: 160, 36%, 51%;
  /* --bkg: hsl(136, 77%, 90%);
    --bkg-gradient: linear-gradient(120deg, var(--var-bkg) , #f3f3f3); */

  --bd-fade: 1px solid var(--accent-dark);
  --bd-card: 1px solid #0002;;

--green-old: hsl(160, 36%, 61%);

--green-dark: hsl(158, 90%, 18%);
--green-hover: hsl(158, 87%, 26%);
--green-yellow: hsl(67, 89%, 45%);
--green-yellow-white: hsl(50, 25%, 93%);
/* --green-yellow-white: hsl(55, 80%, 85%); */
--gray: hsla(68, 3%, 83%, 0.72);
--green-yellow-shade: hsl(58, 78%, 15%);
}

@font-face {
  font-family: "Futura";
  src: url('assets/fonts/futura sv/Futura Std Book.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Futura-Heavy";
  src: url('assets/fonts/futura sv/Futura Std Book.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Futura-Round";
  src: url('assets/fonts/futura sv/Futura\ Round.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Futura-Book";
  src: url('assets/fonts/futura sv/Futura Book.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Futura-Bold";
  src: url('assets/fonts/futura sv/Futura Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Futura-thin";
  src: url('assets/fonts/futura sv/Futura Thin.ttf');
  font-weight: 300;
  font-style: normal;

}

html {
  /* -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none; */
  font-size: 69.5%;
}

body {
  font-family: 'EB Garamond', 'Times New Roman', Times, serif;
  font-weight: normal;
	letter-spacing: 0.01em;
}

h1, h2, h3, h3 > a, p, li {
  /* font-family: 'geo-light', sans-serif; */
  font-weight: normal;
  font-style: normal; 
  /* text-decoration: none; */
}

body > * {
  /* font-weight: 600; */
  color: #000;
  width: min(100%, var(--max-width));
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
}

.divider {
	border: 1px solid #050505;
	opacity: 0.25;
	height: 3px;
	border-radius: 6px;
	background-color: #f0f0f0;
}

nav {
  position: fixed;
  z-index: 999;
  width: 100%;
  padding-block: 1.2rem;
  background-color: transparent;
  transition: background-color 800ms cubic-bezier(.62,.34,.04,.7);
  font-size: 1.5rem;
}
nav .nav-container .nav-wrapper .nav-links a {
  font-size: 1.75rem;
	font-weight: 600;
	letter-spacing: 0.075em;
	padding-right: 0.33em;
}

nav.active {
  background-color: var(--green-yellow-white);
}

nav.active .nav-container .nav-wrapper .nav-links a {
  color: var(--green-dark);
  text-shadow: 1px 1px 1px var(--green-yellow-white);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .logo {
  color: var(--accent);
  margin-inline: 0.5rem;
  width: clamp(3rem, 10vw , 7.5rem);
  display: grid;
  place-items: center;
}
*/

.logo-link:focus-visible,
.nav-link:focus-visible{
  outline: 4px solid var(--accent);
  outline-offset: 0.2em;
  border-radius: 0.5rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  transform: translate3d(0, -200%, 0);
  position: absolute;
  z-index: -1;
  top: 3rem;
  left: 0;
  right: 0;
  background-color:  var(--green-yellow-white);
  padding: 2.5rem;
  border-bottom: 3px solid var(--green-dark);
  text-align: center;

}

.nav-links.activated {
  transition: transform 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.84);
}


.btn {
  color: #fff;
  text-shadow: none;
  text-decoration: none;
  padding: 0.3rem 1.5rem;
  cursor: pointer;
  border-radius: 8px;
  outline: none;
}
.btn--accent {
 background-color: var(--accent);
  padding: 0.3rem 2rem;

}

.btn:hover,
.btn:focus,
.btn:focus-visible {
  outline: 1px solid var(--green-dark);
  outline-offset: 3px;
  color: var(--green-dark);
  background-color: var(--green-old);

}

.btn--menu {
  color: var(--green-dark);
 
  background-color: #fff8;
  border: 1px solid var(--green-dark);
  display: grid;
  place-items: center;
  padding: 4px;
  border-radius: 3px;
  transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.84);

}

li[role="none"],
.nav-link {
  width: 100%;
  display: block;
  font-size: 1.1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0.15em 0.3em;
}

.btn--menu[aria-expanded="true"] {
  transform: rotate(180deg);
}
.btn--menu[aria-expanded="true"] + .nav-links {
  transform: translate3d(0,0,0);
}

.nav-link[aria-current="page"] {
  text-decoration: underline dotted var(--accent2) 0.15rem;
  text-underline-offset: 0.35rem;
  text-decoration-thickness: 1px;
  border-left: 2px solid var(--accent2);
  border-right: 2px solid var(--accent2);
  box-shadow:  0 0 8px -2px var(--accent2);
}


@media (min-width: 768px) {
  .btn--menu {
    display: none;
  }

  .nav-links {
    position: static;
    transform: translate3d(0,0,0);
    flex-direction: row;
    border: none;
    z-index: 0;
    padding: 0;
    inset: 0;
    background-color: transparent;
  }

  li[role="none"], .nav-link {
    width: initial;
  }
}


main {
  /* padding-top: var(--layout-spacing); */

  gap: clamp(4rem, 1.45454537rem + 11.636364vw, 8rem);
  position: relative;
}

@media (min-width: 1200px) {
  main {
    width: var(--container-max);
  }
}

footer {
  margin-top: auto;
  padding-top: var(--layout-spacing);
}

footer p {
  border-top: 1px solid #ccc;
  padding-top: 0.25em;
  font-size: 0.9rem;
  color: #767676;
}

article * + * {
  margin-top: 1em;
}

a {

  color:  var(--green-yellow-white);
  text-shadow: 1px 1px 1px var(--green-dark);
  text-decoration: underline;
  text-decoration-style: dotted;

  text-underline-offset: 0.15em;
  text-decoration-thickness: 1px;
}

a:hover,
a:focus,
a:focus-visible

 {
  color: var(--green-hover);
}

.nav-links a {
  text-decoration: none;
}

.nav-links a:hover,
.nav-links a:focus,
.nav-links a:focus-visible {
  color: var(--green-hover);
  outline: 1px solid var(--green-hover);
  border-radius: 50vw;
}


.text-inverse {

  color: var(--green-dark);
  text-shadow: none;
}

section {
  /* min-height: 100vh; */
}

/* nav {
  position: relative;
  background-color: #dedede;
  min-height: 3rem;
  padding: 0.75em 0.25em;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 66%;
  margin: 0 auto;
} */

.smol-container {
  width: min(100% - 3rem, var(--container-max, 60ch));
  margin-inline: auto;
}

.bg-wrapper {
	width: 100%;
	height: 60vh;
	padding-top: 4em;
	background-image: linear-gradient(to bottom,rgba(0,0,0,0.33),transparent 30%), url("../assets/img/pftb1987-1-HigheRes.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: baseline;
}

.main-header {
  padding-block: 1.5rem;
  text-align: center;
  display: grid;
  place-items: center;
  align-self: center;
  /* width: 100%; */
  /* !overflow issues with full width */
  color: var(--green-yellow-white);
  text-shadow: 1px 1px 1px var(--green-dark);
}

.main-header h2 {
  margin-top: 0.25em;
  letter-spacing: 2px;
  font-weight: 300;
  /* opacity: 0.8; */
  /* text-align: right; */
  margin-inline: 3em;
}

h1,h2 {
  font-family: 'Futura-Book';
  font-weight: 500;
}

h1 {
	font-size: clamp(2.5rem, 7vw + 2rem, 7rem);
	font-weight: 600;
	line-height: 1.1;
	letter-spacing: 0.03em;
}

h2 {
  font-size: clamp(2rem, 4vw + 1.5rem, 4rem);
  font-weight: 300;
  line-height: 1.1;
}

h2 em {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}
/* 
h3 {
  font-size: clamp(1.2rem, 3vw + 1rem, 2.2rem);
  line-height: 1.1;
} */

h3 {
  font-size: clamp(1.75rem, 1vw + 1.5rem, 2.5rem);
  line-height: 1.1;
  font-family: 'Futura-thin';
  font-weight: 400;
  color: hsl(2, 12%, 4%);
  text-shadow: 1px 1px 1px #f0f0f0;
}

.container {
  margin-inline: max((100% - 90rem) / 2, 1rem);
}

.container--sm {
  margin-inline: max((100% - 70rem) / 2, 2rem);
}

.smol-flexbox-grid {
  --min: 0;
  --gap: 1rem;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.smol-flexbox-grid > * {
  flex: 1 1 var(--min);
}

.hero-section {
  margin-block: var(--mb-5);
  font-size: 1.75rem;
  padding-block: 1.5rem;
  text-align: center;
}

.hero-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(55ch, 1fr));
  gap: 0.5em;
  place-items: center;
}

.introduction {
  display: grid;
  place-items: center;
}

.introduction p {
  margin-inline: auto;
  
  width: min(100%, 66ch);
  
  padding-block: 0.33em;
  padding-inline: auto;
}

.introduction p:nth-child(1):not(.introduction-flex p) {
  font-weight: 700;
  text-align: center;

}

.introduction-flex {
  display: flex;
  align-items: center;
}

.introduction-flex > * {
  padding-inline: 0.33em;
  max-width: 36ch;
}


.introduction strong {
  font-size: 1.15rem;
}



article,
aside,
blockquote
 {
  margin-block: var(--mb-7);
  box-shadow: var(--box-shadow-1);
background-color: var(--gray);
border: var(--bd-card);
border-radius: 3px;

}

.hero-section article {
  text-align: justify;

  padding: 0.75em 1.25em;
  line-height: 1.6;

}

.hero-section aside {
  width: min(100%, 50ch);
  border-radius: 3px;
  margin-block: var(--mb-5);
}

#book {
  background: url("/templates/svhb/css/../images/book.jpg") no-repeat 50% 50%;
  height: 250px;
  background-attachment: fixed;
  background-size: 100%;
  margin: 10px 0;
}
.scroll-Bg {
  background: url("../assets/img/pftbScrollover.jpg") no-repeat 50% 50%;
  background-attachment: fixed;
  height: 250px;
  background-size: 75%;
  margin: 0.5em auto;
}

blockquote {
  font-size: 2rem;
  width: min(100%, 55ch);
  font-style: italic;
  letter-spacing: 0.025em;
  padding: 1.2em 30px 1.2em 75px;
  
  border-left: 8px solid var(--green-dark);
  border-right: var(--bd-card);
  border-top: var(--bd-card);
  border-bottom: var(--bd-card);
  line-height: 1.6;
  position: relative;
  box-shadow: var(--box-shadow-1);
  backdrop-filter: blur(5px) saturate(177%);
-webkit-backdrop-filter: blur(5px) saturate(177%);
/* background-color: rgba(208, 208, 208, 0.72); */
}

blockquote::before {
  font-family: Arial;
  content: "\201C";
  color: var(--green-dark);
  font-size: 6rem;
  position: absolute;
  left: 10px;
  top: -10px;
}

blockquote::after {
  content: "";
}

blockquote span {
  display: block;
  color: #333333;
  font-style: normal;
  font-weight: bold;
  margin-top: 1em;
}

@media (max-width: 1081px) {
  .flex-main {
    flex-direction: column-reverse;
    align-items: center;
  }

  .bg-wrapper {
    background-size: contain;
    background-position: unset;
    height: unset;
  }

  .quote-wrapper {
    padding-bottom: 4px;
  }
}
@media (max-width: 669px)  {
  blockquote {
    font-size: 1.5rem;
    width: min(100%, 33ch);
    padding: 20px 15px 12px 12px;
    box-shadow: var(--box-shadow-1);
    /* position: absolute; */
  }

  blockquote::before {
    font-size: 3.5rem;
    left: -2px;
    top: -10px;
  }

  /* .main-header h2 {
    font-size: 2.2rem;
  } */
}

.about {
  padding: 0.33em;
}

.about-introduction,
.about-footer p {
    max-width: 80ch;
    margin: 0 auto;
    text-align: justify;
    font-size: 1.75rem;
    padding: 0.66em;
  
}

.about-footer {
  margin-top: 1em;
}

.about-footer p {
  text-align: left;
  margin: 0 1em 0;
  max-width: 60ch;
}

.about-columns p::first-letter {
  font-size: 1.80rem;
font-weight: 600;
letter-spacing: 1px;
}


.about-columns {
	-webkit-columns: 2 200px;
	-moz-columns: 2 200px;
	columns: 2 33ch;
	-webkit-column-gap: 4em;
	-moz-column-gap: 4em;
	column-gap: 2.55em;
	-webkit-column-rule: 1px solid var(--green-dark);
	-moz-column-rule: 1px solid var(--green-dark);
	column-rule: 2px solid var(--green-dark);
  padding: 0.66em;
  text-align: justify;
}


/* ---------- shack style ------------- 
*
*  
* -----------------------------------
*/
.newsletter {
  margin: 0;
}


.newsletter .newsletter-container, 
.newsletter-popup .newsletter-container {
  position: relative;
  display: flex;
  flex-flow: column;
  padding: 20px;
  background-color: var(--gray);
  width: 100%; 
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

/* .newsletter .newsletter-container h3 {
  font-size: 18px;
  font-weight: 500;
  margin: 0;
  padding: 10px 0 10px;
  color: var(--green-dark);
} */

.newsletter .newsletter-container h3 i ,
.newsletter-popup .newsletter-container h3 i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--green-dark);
  color: var(--green-yellow-white);
  margin-right: 10px;
  padding: 20px;
  text-shadow: none;
}

.newsletter .newsletter-container p,
.newsletter-popup .newsletter-container p {
padding: 0.25em ;
}

.newsletter .newsletter-container form,
.newsletter-popup .newsletter-container form {
  display: flex;
  flex-flow: column;
  padding: 15px 0 10px;
  width: 95%;
}
.newsletter-popup .newsletter-container form {
  
  padding: unset;
}

.newsletter .newsletter-container form input,
.newsletter-popup .newsletter-container form input 
 {
  width: 100%;
  padding: 10px;
  border: 0;
  outline: none;
  margin-bottom: 15px;
  
  height: 40px;
  border-radius: 4px;
}


.newsletter .newsletter-container form input::placeholder,
.newsletter-popup .newsletter-container form input::placeholder {
  color: #515a50;
}

.newsletter .newsletter-container form button,
.newsletter-popup .newsletter-container form button,
.btn {
  width: 100%;
  padding: 10px;
  appearance: none;
  background-color: var(--green-dark);
  font-weight: 500;
  /* font-size: 14px; */
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--green-yellow-white);
  border: 0;
  cursor: pointer;
  height: 40px;
  border-radius: 4px;
}


.newsletter-popup .newsletter-container form button {
  
  height: unset;
  
}

.newsletter .newsletter-container form button:hover, 
.newsletter .newsletter-container form button:focus,
.newsletter .newsletter-container form button:focus-visible,
.newsletter-popup .newsletter-container form button:hover,
.newsletter-popup .newsletter-container form button:focus,
.newsletter-popup .newsletter-container form button:focus-visible
{

  opacity: 0.8;
  outline: 2px solid var(--green-dark);
  outline-offset: 3px;
}

.newsletter .newsletter-container .newsletter,
.newsletter-popup .newsletter-container .newsletter-msg  {
	padding: 5px 0;
	border: 1px solid #0003;
	border-radius: 3px;
}
.newsletter-popup {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  transition: all .3s ease;
}

.newsletter-popup .newsletter-container {
  position: relative;
  display: flex;
  flex-flow: column;
  padding: 30px; 
  background-color: var(--green-yellow-white); 
  box-shadow: var(--box-shadow-1); 
  width: 500px;
  transform: scale(0.3);
  transition: all .3s ease;
}

.newsletter-popup .newsletter-container.open {
  transform: scale(1);
}

/* .newsletter-popup .newsletter-container h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  padding: 10px 0 10px;
  color: var(--green-dark);
} */

/* .newsletter-popup .newsletter-container h3 i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--green-dark);
  color: var(--green-yellow-white);
  margin-right: 10px;
} */

.newsletter-popup .newsletter-container p {
  margin: 0;
  padding: 15px 0;
}

.newsletter-popup .newsletter-container form {
  display: flex;
  padding: 15px 0 10px;
}

/* .newsletter-popup .newsletter-container form input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  outline: none;
} */

/* .newsletter-popup .newsletter-container form input::placeholder {
  color: #8d9092;
} */

/* .newsletter-popup .newsletter-container form button {
  width: 200px;
  appearance: none;
  background-color: var(--green-dark);
  font-weight: 500;
  font-size: 14px;
  color: var(--green-yellow-white);
  border: 0;
  cursor: pointer;
} */

/* .newsletter-popup .newsletter-container form button:hover {
  background-color: #424953;
} */

.newsletter-popup .newsletter-container .newsletter-close-btn {
	position: absolute;
	right: 20px;
	top: 20px;
	text-decoration: none;
	color: var(--green-dark);
	font-size: 34px;
	line-height: 20px;
}

.newsletter-popup .newsletter-container .newsletter-close-btn:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

/* .newsletter-popup .newsletter-container .newsletter-msg {
  padding: 5px 0;
} */

.newsletter-popup.open {
  display: flex;
  background-color: rgba(0, 0, 0, 0.3);
}

.newsletter .loader, .newsletter-popup .loader {
  display: inline-block;
  border: 2px solid #999;
  border-top: 2px solid #eee;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  animation: spin 1s ease infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.send-newsletter-form {
  background-color: var(--green-yellow-white);
  width: 500px;
  margin: 0 auto;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.send-newsletter-form h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 25px;
  font-size: 2rem;
  text-align: center;
  border-bottom: 1px solid #eceff2;
  color: #6a737f;
  font-weight: 600;
  background-color: #f9fbfc;
}

.send-newsletter-form h1 i {
  padding-right: 10px;
  font-size: 1.75rem;
}

.send-newsletter-form .fields {
  position: relative;
  padding: 20px;
}

.send-newsletter-form input[type="text"] {
  margin-top: 15px;
  padding: 15px;
  border: 1px solid #dfe0e0;
  width: 100%;
  outline: 0;
  font-size: 1rem;
}

.send-newsletter-form input[type="text"]:focus {
  border: 1px solid #c6c7c7;
}

.send-newsletter-form textarea {
  resize: none;
  margin-top: 15px;
  padding: 15px;
  border: 1px solid #dfe0e0;
  width: 100%;
  height: 150px;
  outline: 0;
  font-size: 1rem;
}

.send-newsletter-form textarea:focus {
  border: 1px solid #c6c7c7;
}

.send-newsletter-form input[type="submit"] {
  display: block;
  margin-top: 15px;
  padding: 15px;
  border: 0;
  background-color: #cb5f51;
  font-weight: bold;
  color: var(--green-yellow-white);
  cursor: pointer;
  width: 100%;
}

.send-newsletter-form input[type="submit"]:hover {
  background-color: #c15b4d;
}

.send-newsletter-form input[type="submit"]:disabled {
  background-color: #999999;
}

.send-newsletter-form .field {
  display: inline-flex;
  position: relative;
  width: 100%;
  padding-bottom: 20px;
}

.send-newsletter-form label {
  font-size: 1rem;
  font-weight: 600;
  color: #8e939b;
}

.send-newsletter-form .responses {
  padding: 0;
  margin: 0;
}

.send-newsletter-form .multi-select-list {
  border: 1px solid #dfe0e0;
  margin: 15px 0;
  overflow-y: auto;
  max-height: 150px;
}

.send-newsletter-form .multi-select-list label {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #f3f3f3;
}

.send-newsletter-form .multi-select-list label input {
  margin-right: 15px;
}

.send-newsletter-form .multi-select-list label:last-child {
  border-bottom: 0;
}





.rise {
  opacity: 0;
  animation: rise 0.8s ease-in-out forwards;
}

.rise.subheading {
  animation: rise 1.2s ease-in-out forwards 0.5s;
}

@keyframes rise {
  0% {
    transform: translateY(2rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
 
.fade-up {
  opacity: 0;
  position: relative;
  transform: translateY(5rem);
  transition: transform 1s cubic-bezier(0.64, 0.04, 0.26, 0.87),
    opacity 0.8s cubic-bezier(0.64, 0.04, 0.26, 0.87);
}

.fade-up.faded {
  opacity: 1;
  transform: translateY(0);
}